/* Love you, Elon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align:center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #7e78d2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

body {
    background: #f5f3f5;
    color: #002147;
}

header, body, footer {
    padding: 20px 10px;
}

header {
    text-align:left;
    border-bottom: 3px solid #002147;
}

#title {
    font-size: 64px;
    padding: 30px 0 25px 0;
    font-family: 'Josefin Sans', sans-serif;
}

#sec-title {
    font-family: 'Inconsolata', monospace;
    font-size: 36px;
    padding: 5px 0;
}

#image {
    display:block;
    height: auto;
    max-width: 100%;
    margin: 30px auto 20px auto;
}

#img-div figcaption {
    font-size: 14px;
    padding-top: 25px;
}

#quote {
    padding: 15px 0;
    margin:40px auto;
    width: 50%;
    font-size:24px;
    font-weight: bold;
    color: #da4167;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: right;
}

blockquote {
    font-size: 18px;
    font-style: italic;
}

#tribute-info {
    padding: 10px 0 50px 0;
}

#tribute-info p {
    text-align:left;
}
